@body_color : #fbfcfd;
@font_color: #4d505599;
@white_color: #fff;
@gray_color: #4d50551a;
@blue_color: #4a91e9;
@active_color: #00a2ff26;
@enable_date: #00a2ff;

@1pxborder : 1px solid #4d50551a;

@normal_font : 16px;
@full_width: 100%;
@main_font: 'Open Sans', sans-serif;

img{
	max-width: @full_width;
}

body{
	font-family: @main_font;
	letter-spacing: 0.3px;
	color: #4d5055;
}

#main_body{
	background-color: @body_color;
	min-height: 100vh;
	.content{
		background: @white_color;
    	min-height: 90vh;
		margin: 5vh auto;
		box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		border: @1pxborder;
		position:relative;
	}
	.content.content_with_ribbon{
		position: relative;
		a.ribbon_wrapper{
			transition: all 0.5s;
		    position: absolute;
		    top: -6px;
		    right: -6px;
		    overflow: hidden;
		    width: 150px;
		    height: 150px;
		    text-decoration: none;
		    font-size: 14px;

			.ribbon_body{
			    transform: rotate(45deg);
			    position: relative;
			    top: 22px;
			    right: 10px;
			    background-color: #505960;
			    text-align: center;
			    padding: 10px 0;
			    width: 220px;
			    z-index: 999;
			    .powered_by{
			    	font-size: 12px;
			    	color: #dbdbdb;
			    }
			    .powered_brand{
			    	font-size: 18px;
			    	color: @white_color;
			    }
			}
		}
		.ribbon_wrapper::before{
			top:0;
			left:0;
		}
		.ribbon_wrapper::after{
			bottom:0;
			right:0;
		}
		.ribbon_wrapper::before,
		.ribbon_wrapper::after{
		    content: '';
		    position: absolute;
		    background: #4D5055;
		    height: 6px;
		    width: 6px;
		    transition: all 0.1s ease-in;
	    }
	}
}


a.ribbon_wrapper:hover,
a.ribbon_wrapper:focus{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	outline: none;
}




.content_header{
	h3.powered_name {
	    font-size: @normal_font;
	    color: @font_color;
	}
	p{
		color: @font_color;
		font-size: @normal_font - 2px;
		padding: 10px 30px;
	}
	.powered_logo a img {
	    width: @full_width - 60%;
	    margin-bottom: 25px;
	}
}


a.meeting_link {
    display: block;
    padding: 30px 20px;
    text-decoration:none;
    border-top: @1pxborder;
    margin-top: 20px;
    min-height:180px;
    .meeting_header {
	    h3{
	    	font-size: @normal_font + 2px;
	    	font-weight: bold;
	    	color: #4d5055;
	    	line-height: 30px;
	    }
	    .circle_icon i.fa {
		    font-size: 30px;
		    color: @blue_color;
		    margin-right: 15px;
		}
		.arrow_icon i.fa{
			font-size: @normal_font * 2;
			color: #4D5055;
		}
	}
	p.meeting_text{
		color: @font_color;
		font-size: @normal_font - 2px;
		margin-top: 15px;
	}
}

a.meeting_link:hover,
a.meeting_link:focus{
	background-color: @gray_color;
}



.back_arrow {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: -50px;
    a{
    	display: block;
		line-height: 40px;
		    width: 40px;
		text-align: center;
	    :hover{
	    	background: @active_color;
		    width: 40px;
		    height: 40px;
		    border-radius: 50%;
	    }
	    i.fa{
			font-size: 22px;
			font-weight: 300;
			border-radius: 50%;
			text-align: center;
			line-height: 40px;
	    }
    }
}

.meeting_header h3{
	font-size: @normal_font * 2px - 7px;
	font-weight: bold;
	color: #4d5055;
	line-height: 32px;
}

.clock_time {
    color:  @font_color;
    font-size: 16px;
    margin: 10px 0px 25px;
}








.pignose-calendar-unit:not(.pignose-calendar-unit-disabled) a {
    background: @active_color;
    color: @enable_date;
    font-weight:bold;
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-disabled a{
	background-color: transparent;
}

.pignose-calendar .pignose-calendar-unit a{
	height:auto;
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a{
	background: @enable_date;
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a,
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a,
.pignose-calendar .pignose-calendar-unit a{
	color: @font_color;
	font-size: @normal_font;
	opacity: 1 !important;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week,
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat,
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun{
	font-size: @normal_font - 4px;
	color: @font_color;
}




.pignose-calendar.pignose-calendar-light.pignose-calendar-default {
    max-width: 80%;
    box-shadow: none;
    border: none;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
    position: static;
    padding: 0px;
    height: 30px;
    display:inline-block;
    width:70%;
    padding-left:25px;
}

.pignose-calendar .pignose-calendar-top {
    padding: 0px;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month, .pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
    display: inline-block;
    float: left;
}

.calendar {
    padding-top: 40px;
    width: 100%;
    float: left;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev {
    position: absolute;
    float: none;
    right: 60px;
}

span.pignose-calendar-top-year {
    padding-left: 15px;
    font-size: 20px !important;
}


h3.calendar_heading {
    padding: 40px 0px 0px 70px;
}



.time_confirm {
    float: right;
    margin-top:115px;
    max-height:340px;
    overflow:auto;
    display:none;
}

button.time_button {
    width: 100%;
}

.confirm_button a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

button.time_button,
button.confirm_button {
    padding: 5px 8px;
    background: transparent;
    border: 1px solid @blue_color !important;
    color: @blue_color !important;
    border-radius: 4px;
    height: 40px;
    outline:none;
    font-size: @normal_font - 4px;
}

button.time_button:hover,
button.confirm_button:hover {
    border: 2px solid @blue_color;
}

.single_time_confirm {
    margin-bottom: 8px;
    overflow:hidden;
    clear:both;
}



.half_width{
	width:49%;
}

.data_collect_form {
    margin: 50px;
    max-width: 450px;
}




.form-check {
    margin-bottom: 10px;
}

form h4 {
    font-size: 14px;
}

.form-group label {
    font-size: 14px;
}

form {
    font-size: 16px;
}

.form-check .form-check-label {
    font-size: 16px;
}

input.form-control {}

input.check-input.form-control {
    line-height: 30px;
    margin-top: -5px;
}

input#Check15, input.radio_text_field {
    margin-top: 12px;
}

input[type=checkbox], input[type=radio] {
    width: 15px;
    height: 15px;
}

button.btn.btn-primary {
    margin-top: 30px;
}